<section class="container">
  <label class="label">Marca: </label>
  <input type="text" class="input" placeholder="Digite a marca..." [(ngModel)]="addMarca"/>

  <label class="label">Placa: </label>
  <input type="text" class="input valor" placeholder="Digite a placa..." [(ngModel)]="addPlaca" />

  <label class="label">Ano: </label>
  <input type="text" class="input valor" placeholder="Digite o ano..." [(ngModel)]="addAno"/>

  <div class="radios">
    <label for="rdTipo" class="label">Tipo: </label>

    <input class=""type="radio" value="Popular" name="tipo" [(ngModel)]="addTipo"/>
    <label class="radio-label">Popular</label>

    <input class="form-check-input" type="radio" value="Luxo" name="tipo" [(ngModel)]="addTipo" />
    <label class="radio-label">Luxo</label>

    <input class="form-check-input" type="radio" value="Carga" name="tipo" [(ngModel)]="addTipo"/>
    <label class="radio-label">Carga</label>

  </div>

  <app-cp-button-salvar (click)="submitVeiculo()"></app-cp-button-salvar>
</section>

