<section class="container">
  <label class="label">Marca: </label>
  <input type="text" class="input" #inputMarca placeholder="Digite a marca..." [(ngModel)]="veiculo.marca"/>

  <label class="label">Placa: </label>
  <input type="text" class="input valor" #inputPlaca placeholder="Digite a placa..." [(ngModel)]="veiculo.placa" />

  <label class="label">Ano: </label>
  <input type="text" class="input valor" #inputAno placeholder="Digite o ano..." [(ngModel)]="veiculo.ano"/>

  <div class="radios">
    <label for="rdTipo" class="label">Tipo: </label>

    <input class=""type="radio" #inputTipo value="Popular" name="tipo" [(ngModel)]="veiculo.tipo"/>
    <label class="radio-label">Popular</label>

    <input class="form-check-input" #inputTipo type="radio" value="Luxo" name="tipo" [(ngModel)]="veiculo.tipo" />
    <label class="radio-label">Luxo</label>

    <input class="form-check-input" #inputTipo type="radio" value="Carga" name="tipo" [(ngModel)]="veiculo.tipo" />
    <label class="radio-label">Carga</label>

  </div>

  <app-cp-button-salvar (click)="submitVeiculo(inputMarca.value, inputPlaca.value, inputAno.value, inputTipo.value)"></app-cp-button-salvar>
</section>

